  <table>
    {{#positions}}
      {{#beginrow}}<tr>{{/beginrow}}
        <td><div{{^blank?}}>{{/blank?}}{{#blank?}} class="{{mark}}-marker">
          <input id="move{{index}}" type="radio" name="move" value="{{index}}" required >
          <label for="move{{index}}"></label>
        {{/blank?}}</td>{{#endrow}}</tr>{{/endrow}}
    {{/positions}}
  </table>
