  <table>
    {{#positions}}
      {{#beginrow}}<tr>{{/beginrow}}
        <td><div{{^mark?}}>{{/mark?}}{{#mark?}} class="{{mark}}-marker">
          <input id="move{{index}}" type="radio" name="move" value="{{index}}" required >
          <label for="move{{index}}"></label>
      {{/mark?}}{{#endrow}}</tr>{{/endrow}}
    {{/positions}}
  </table>
